.pteks-current {
  position: relative;
}
.pteks-current:before {
  display: block;
  position: absolute;
  content: '';
  top: 0; left: 0;
  width: 2px; height: 100%;
  background-color: red;
  z-index: 1;
}
